form {
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding : 5px;
  box-sizing: border-box;
}

#numSec {
  height: 60px;
  background-color: aliceblue;
}

input[type=date] {
  width: 40%;
  height: 30px;
  margin-right: 10px;
}

fieldset {
  width: 40%;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
}

ul {  
  list-style: none;
  width: 60%;
}

li {
  padding: 5px;
}

li:hover {
  background-color: aliceblue;
  font-weight: bold;
}
